* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 60%;
  height: 100vh;
  margin: auto;
  background-image: url(../img/natural-default-pattern.png);
}

 /* top header  */
.top-header {
  width: 100%;
  height: 150px;
  border: 5px solid white;
  background-image: url(../img/default-header.jpg);
  position: relative;
}
.top-text {
  font-size: 8px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;
}
.top-text img {
  width: 150px;
  height: auto;
}
/* top header */

/* bottom header */
.bottom-header {
  background-color: lightgrey;
}
#nav-bar {
  list-style: none;
  text-align: center;
  height: 50px;
  line-height: 50px;
}

ul#nav-bar > li {
  display: inline-block;
  padding: 0 20px;
}

a {
  text-decoration: none;
  color: white;
}
li:hover > a {
  background-color: grey;
}
/* /bottom header */

/* main text 3 column */
main {
  width: 100%;
  margin-top: 10px;
  position: relative;
}

.container {
  margin: 10px;
  display: inline-block;
}

main::after {
  content: "";
  display: table;
  clear: both;
}

.center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
  margin: 10px 0;
  background-color: white;
}

aside {
    height: 100%;
    width: 25%;
}

.left , .right {
  margin: 10px;
  width: 90%;
  background-color: white;
}

.left {
  float: left;
}

#asright {
  float: right;
}

h2 {
  text-transform: uppercase;
  text-shadow: 2px 1px #000099;
}

.fa-rss-square {
  padding: 8px;
  font-size: 40px;
  color: orange;
}

p , h2 , h3 {
  font-weight: bold;
  padding: 10px;
}

h3{
  display: inline-block;
  vertical-align: 50%
}

.left p {
  color: green;
}
/* /main text 3 column */

/* footer */
footer {
  height: 15vh;
  margin: 15px;
  background-color: white;
}

.top-footer {
  text-align: center;
  color: grey;
  border-bottom: 2px solid lightgrey;
}

.link-to {
  font-size: 40px;
  color: lightgrey;
  display: inline-block;
  width: 33%;
  text-align: center;
  padding: 10px;
}

.link-to:hover i {
  cursor: pointer;
  color: blue;
}
/* /footer */
